@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.bg-Aqua {
  background-color: #D2E0FF;
}

.bg-black {
  background-color: #1C2321;
}

.bg-Lightblue {
  background-color: #D2E0FF;
}

.bg-lightCustom {
  background-color: #fafafa;
}

.bg-blue {
  background-color: #0A1C3F;
}

.color-Light {
  color: #E1EFF6;
}

.font-Color-Black {
  color: #000000;
}

.color-primary {
  color: #beadf8;
}

.btnC {
  height: 40px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  border: 0;
}

.btn-primary {
  background-color: #7F5DF0;
  border: 0;
}

.btn-primary:hover {
  background-color: #7F5DF0;
  color: #000000;
}

.btn-highlight {
  background-color: #f84d4d;
  color: #E1EFF6;
}

.btn-highlight:hover {
  background-color: #7F5DF0;
}

.btn-highlightHome {
  background-color: transparent;
  color: #7F5DF0;
}

.btn-highlightHome:hover {
  background-color: #7F5DF0;
  color: #E1EFF6;
}

.navbarC .btn-Link {
  background-color: #7F5DF0;
}

.user-btn {
  height: 40px;
  background-color: transparent;
  color: #E1EFF6;
  padding-top: 5px;
  border-radius: 15px;
}

.searchDiv {
  width: 100%;
  border-radius: 50px;
}

.searchDiv:hover {
  background-color: #beb3e4;
  border-radius: 50px;
}

.btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.font-extra-small-size {
  font-size: 0.6rem;
}

.font-small-size {
  font-size: 0.9rem;
}

.font-medium-size {
  font-size: 1.7rem;
}

.font300 {
  font-weight: 300;
}

.font400 {
  font-weight: 400;
}

.font700 {
  font-weight: 700;
}

.font900 {
  font-weight: 900;
}

.kodeBook-logo {
  height: 40px;
}

.home-profile-pic {
  height: 110px;
  width: 110px;
  border-radius: 250px;
  box-shadow: 0px 2px 5px rgba(0, 10, 0, 0.3);
}

.smallMiniProfilePic {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 5px rgba(0, 10, 0, 0.3);
}

.smallMiniProfilePicComment {
  height: 30px;
  width: 30px;
}

.smallMiniProfilePicRepComment {
  height: 30px;
  width: 30px;
}

.profilePicNav {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.navbarC {
  background-color: #ffffff;
  height: 9vh;
  color: #E1EFF6;
}

.dropdown-friend {
  width: 350px;
}

.bi-large {
  height: 130px;
  width: 50px;
}

.navbarC .usr-dropdown {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbarC .usr-dropdown li {
  height: 40px;
}

.userdropdownlist {
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.userdropdownlist:hover {
  background-color: #7F5DF0;
}

.userLink {
  color: #7F5DF0;
}

.userLink:hover {
  color: #ffffff;
}

* {
  font-family: "Lato", sans-serif;
}

.pageLogInContainer {
  background-image: url("https://images.pexels.com/photos/207896/pexels-photo-207896.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.bi-large {
  height: 30px;
  width: 50px;
}

.containerLogIn {
  height: 100vh;
  /* min-width: 300px; */
}

.containerSignUp {
  min-width: 300px;
  /* height: 100vh;  */
  background-color: #2C3333;
}

.containerSignUp h1 {
  color: #FFFFFF;
  font-weight: bold;
}

.containerSignUp h6 {
  color: #CBE4DE;
  /* font-weight: bold; */
}

.btnSignUp {
  background-color: #0E8388;
  color: #CBE4DE;
  width: 150px;
}

.btnSignUp:hover {
  background-color: #F17C77;
  color: #CBE4DE;
  width: 150px;
}

.btnSignUp p {
  background-color: #0E8388;
  color: #f6ffff;
}

.divForm {
  min-width: 300px;
}

@media screen and (max-width: 768px) {
  * {
    font-size: 14px;
  }
  .pageLogInContainer {
    flex-direction: column;
  }
  .pageLogInContainer {
    background-image: none;
    background-color: #2C3333;
  }
  .containerLogIn,
  .containerSignUp {
    width: 100%;
  }
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.header_wrapper header {
  width: 100%;
  /* min-height: calc(100px, 15vh); */
}

.header_wrapper .bg {
  width: 100%;
  height: 70vh;
  justify-content: center;
  background-position: center;
}

.header_wrapper .cols-container .left-col {
  padding: 25px 20px;
  text-align: center;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
}

.header_wrapper .cols-container .left-col .img-container {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.header_wrapper .cols-container .left-col .img-container .pic {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 3px black;
}

.header_wrapper .cols-container .left-col .img-container span {
  position: absolute;
  background-color: rgb(27, 117, 42);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 3px;
  right: 11px;
  border: 2px solid white;
}

.header_wrapper .cols-container .left-col h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}

.header_wrapper .cols-container .left-col p {
  font-size: 1.2rem;
  color: rgb(39, 35, 35);
  margin: 0;
}

.header_wrapper .cols-container .left-col .about {
  justify-content: space-between;
  position: relative;
  margin: 35px 0;
}

.header_wrapper .cols-container .left-col .about li {
  display: flex;
  flex-direction: column;
  color: rgb(63, 62, 62);
  font-size: 1rem;
}

.header_wrapper .cols-container .left-col .about li span {
  color: black;
  font-weight: 600;
  flex-direction: column;
}

.header_wrapper .cols-container .left-col .about::after {
  position: absolute;
  content: "";
  bottom: -16px;
  display: block;
  background: grey;
  height: 1px;
  width: 100%;
}

.header_wrapper .cols-container .content p {
  font-size: 1rem;
  color: black;
  line-height: 1.8rem;
}

.header_wrapper .cols-container .content ul {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.header_wrapper .cols-container .content ul li {
  font-size: 1.3rem;
}

.header_wrapper .cols-container .right-col nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
  flex-direction: column;
}

.header_wrapper .cols-container .right-col nav ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.header_wrapper .cols-container .right-col nav ul li a {
  text-transform: uppercase;
  color: rgb(24, 21, 21);
}

.header_wrapper .cols-container .right-col nav button {
  background: #0081fa;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.header_wrapper .cols-container .right-col nav ul li:nth-child(1) a {
  color: black;
  font-weight: 600;
}

.header_wrapper .cols-container .right-col nav button:hover {
  opacity: 0.9;
}

.header_wrapper .cols-container .right-col .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}

.header_wrapper .cols-container .right-col .photos img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 868px) {
  .header_wrapper .cols-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
  .header_wrapper .cols-container .left-col {
    padding: 25px 0;
  }
  .header_wrapper .cols-container .right-col nav ul {
    flex-direction: row;
    gap: 30px;
  }
  .header_wrapper .cols-container .right-col .photos {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
}
.textarea {
  resize: none;
}

.rounded5 {
  border-radius: 16px;
}

.box {
  display: flex;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  align-items: center;
  height: 35px;
  width: 100%;
}

.box .input-text {
  width: 200px;
  padding: 0px 15px;
  border: 1;
  outline: none;
  transition: 0.8s;
}

.text-decoration {
  text-decoration: none;
  border: 0;
  background-color: transparent;
}

.textinputrounded {
  border-radius: 150px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header_wrapper .pic {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 3px black;
}

.header_wrapper header {
  width: 100%;
  /* min-height: calc(100px, 15vh); */
}

.header_wrapper .bg {
  width: 100%;
  height: 70vh;
  justify-content: center;
  background-position: center;
}

.header_wrapper .cols-container .left-col {
  padding: 25px 20px;
  text-align: center;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
}

.header_wrapper .cols-container .left-col .img-container {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.header_wrapper .cols-container .left-col .img-container .pic {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 3px black;
}

.header_wrapper .cols-container .left-col .img-container span {
  position: absolute;
  background-color: rgb(27, 117, 42);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 3px;
  right: 11px;
  border: 2px solid white;
}

.header_wrapper .cols-container .left-col h2 {
  margin-top: 60px;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 5px;
}

.header_wrapper .cols-container .left-col p {
  font-size: 1.2rem;
  color: rgb(39, 35, 35);
  margin: 0;
}

.header_wrapper .cols-container .left-col .about {
  justify-content: space-evenly;
  position: relative;
  margin: 35px 0;
}

.header_wrapper .about li {
  display: flex;
  flex-direction: column;
  color: rgb(63, 62, 62);
  font-size: 1rem;
}

.header_wrapper .cols-container .left-col .about li span {
  flex-direction: column;
}

.header_wrapper .cols-container .left-col .about::after {
  position: absolute;
  content: "";
  bottom: -16px;
  display: block;
  background: grey;
  height: 1px;
  width: 100%;
}

.header_wrapper .cols-container .content p {
  font-size: 1rem;
  color: black;
  line-height: 1.8rem;
}

.header_wrapper .cols-container .content ul {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.header_wrapper .cols-container .content ul li {
  font-size: 1.3rem;
}

.header_wrapper .cols-container .right-col nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
  flex-direction: column;
}

.header_wrapper .cols-container .right-col nav ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.header_wrapper .cols-container .right-col nav ul li a {
  text-transform: uppercase;
  color: rgb(24, 21, 21);
}

.header_wrapper .cols-container .right-col nav button {
  background: #0081fa;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.header_wrapper .cols-container .right-col nav ul li:nth-child(1) a {
  color: black;
  font-weight: 600;
}

.header_wrapper .cols-container .right-col nav button:hover {
  opacity: 0.9;
}

.header_wrapper .cols-container .right-col .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}

.header_wrapper .cols-container .right-col .photos img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 868px) {
  .header_wrapper .cols-container .left-col {
    padding: 25px 0;
  }
  .header_wrapper .cols-container .right-col nav ul {
    flex-direction: row;
    gap: 30px;
  }
  .header_wrapper .cols-container .right-col .photos {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
  .header_wrapper .bg {
    width: 100%;
    height: 40vh;
    justify-content: center;
    background-position: center;
  }
}
@media (min-width: 992px) {
  .mainContainer {
    margin-top: 55px;
  }
  .scrollBtn {
    position: fixed;
    width: 50px;
    right: 10%;
    bottom: 40px;
    height: 20px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: #f84d4d;
    border: none;
    background-color: transparent;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .mainContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  .navbarC {
    width: 100%;
    padding: 10px 10px;
    height: 10vh;
  }
  .scrollBtn {
    position: fixed;
    width: 50px;
    right: 10%;
    bottom: 40px;
    height: 20px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: #f84d4d;
    border: none;
    background-color: transparent;
    margin-bottom: 20px;
  }
  .scrollBtn .bi {
    font-size: 50px;
  }
}
@media (max-width: 390px) {
  .navbarC {
    width: 100%;
    padding: 10px 10px;
    height: 15vh;
  }
  .navbarC span {
    display: none;
  }
  .navbarC ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .navbarC .bi-large {
    font-size: 25px;
  }
  .navbarC .btnC {
    height: 40px;
    width: 50px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border: 0;
  }
  .navbarC .dropdown-menu {
    left: 100%;
  }
  .mainContainer {
    margin-top: 130px;
  }
  .RightContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.mainBody {
  background-color: #eeeeee;
}

.card {
  border: 0;
}

.customShadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.miniProfile {
  width: 50px;
  height: 50px;
  font-weight: 700;
  border-radius: 50%;
  box-shadow: -2px 2px 3px;
}

.custom100vh {
  height: 100vh;
}

.pageLogInContainer {
  background-image: url("https://images.pexels.com/photos/623919/pexels-photo-623919.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}

.containerLogIn {
  height: 100vh;
  /* min-width: 300px; */
}

.containerSignUp {
  min-width: 300px;
  /* height: 100vh;  */
  background-color: #7F5DF0;
}

.commentbubble {
  background-color: #cdcdce;
  border-radius: 15px;
}

.footer {
  background-color: #cdcdce;
}

.hover-Line:hover {
  text-decoration: underline;
}

.Hover-Effect:hover {
  background-color: #cdcdce;
}

.boxshadow {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.textshadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.cardMiniProfile {
  width: 90%;
  height: 60vh;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.searchResult {
  width: 300px;
}/*# sourceMappingURL=global.css.map */