#sidebarMenu {
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
  }
  
  #sidebarMenu ul {
    list-style: none;
  }
  #sidebarMenu li {
    padding: 8px;
    border: 1px solid #ddd;
  }
  #sidebarMenu li:hover {
    background-color: #e9ecef;
  }
  
  #sidebarMenu li.active {
    background-color: #007bff;
    color: #fff;
  }
  
  #sidebarMenu li.active:hover {
    background-color: #007bff;
  }
  #sidebarMenu a {
    text-decoration: none;
    color: #212529;
  }
  #sidebarMenu a:hover {
    text-decoration: none;
    color: #212529;
  }
  