
// Nav Btn
.navbar .btn-link {
    color: $font-Color;
    // background-color: $primary-color;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    padding: 0.2rem 2rem;
    width: 150px;
  }
  .navbar .btn-link:hover {
    color: $font-Color-DarkBG;
    background-color: #72000b;
    font-weight: 700;
  }

  .btn-style-Link:hover {
    text-decoration: underline;
  }