// Colors
$primary-color: #F44E3F;
$secondary-color: #f7f1f2;

// background color
$background-defaultcolor: #FFFFFC;
$bg-Color-Dark: #0c0c0c;
$background-SecondColor: #eeeeee;

// font color
$font-Color: #000000;
$font-Color-DarkBG: #f8f6f6;
