
//Nav Images
.kodeBook-logo {
    height: 40px;
}


.smallMiniProfilePic {
    height: 50px;
    width: 50px;
  }
// .mini-profile-pic {
//     width: $profile-pic-mini;
//   }

// .logoImg {
//     width: $logo-width;
//   }