
//Nav Images
.kodeBook-logo {
    height: 40px;
}


.smallMiniProfilePic {
    height: 50px;
    width: 50px;
  }
.smallMiniProfilePicComment{
  height: 30px;
    width: 30px;
}
.smallMiniProfilePicRepComment {
  height: 30px;
  width: 30px;
}

// .mini-profile-pic {
//     width: $profile-pic-mini;
//   }

// .logoImg {
//     width: $logo-width;
//   }