
@media (min-width: 992px) {
  .mainContainer {
    margin-top: 80px;
  }

  .scrollBtn {
    position: fixed; 
    width: 50px;
    right: 10%;
    bottom: 40px;
    height: 20px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: #f84d4d;
    border: none;
    background-color: transparent;
    margin-bottom: 20px;
}
}

@media (max-width: 768px) {
    .mainContainer {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
    }
    .navbarC {
      width: 100%;
      padding: 10px 10px;
      height: 10vh;
    }

    .scrollBtn {
      position: fixed; 
      width: 50px;
      right: 10%;
      bottom: 40px;
      height: 20px;
      font-size: 3rem;
      z-index: 1;
      cursor: pointer;
      color: #f84d4d;
      border: none;
      background-color: transparent;
      margin-bottom: 20px;
  }
  .scrollBtn .bi {
    font-size: 50px;
  }
    
  }

  @media (max-width: 390px) {
    .navbarC {
      width: 100%;
      padding: 10px 10px;
      height: 15vh;
    }
   .navbarC span {
    display: none;
   }
   .navbarC ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   }
   .navbarC .bi-large {
    font-size: 25px;
   }
   .navbarC .btnC {
    height: 40px;
    width: 50px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border: 0;
}
    .navbarC .dropdown-menu {
        left: 100%;
    }
    .mainContainer {
      margin-top: 130px;
    }

    .RightContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
